/*=============== 
Variables
===============*/
:root {
    --background: hsl(210, 36%, 96%);
    --background-color: #fff;
    --font-family: "Open Sans", sans-serif;
  }

* {
    margin: 0;
    padding: 0;
}